body {
    background-color: darkmagenta;
}
nav {
    display: flex;
    justify-content: flex-end;

}
ul {
    display: flex;
    list-style-type: none;
}
li>a {
    margin-right: 3em;
    text-align: justify;
    color: white;
}
h6 {
    font-weight: lighter;
    font-size: 40px;
    color:rgb(112, 19, 19);
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
}
#center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2000px;
    height: 400px;
}

h1 {
    text-align: center;
}
#wrapper{
    text-align: center;
}
.container, header {
    background-color: darkslategray;
}
.top {
    width: 400px
}
#middle {
   display: block;
   margin-left: auto; 
   margin-right: auto;
}
.address {
    margin-right: 50px;
    margin-top: 10px;
    color: white;
    background-color: dimgray;
    text-align: center;
    width: 100%;
    border-spacing: 15px;
}
#none{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    height: 400px;
}
#parent {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: center;
}
#child {
    display: block;
    margin-left: auto;
    margin-right: auto;
}