p{
    color: black;
    text-align: center;
}
body, html{
    margin-block: 
    padding: 
}
h2 {
    color: rgb(23, 23, 206)
}
body h3{
    background-image: url(https://bit.ly/3inWFrL);
    background-repeat: no-repeat;
}
Body h2 p{
    color: black;
}
body h4{
    font-size-adjust: 100px;
}
body h4{
    background-image: url(https://bit.ly/3mai7Tp);
    background-repeat: no-repeat;
}
body {
    background-color: coral;
}